@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600&display=swap');

:root {
    --bs-body-font-family: 'Poppins', sans-serif;
}

.hero-slider-title {
    font-size: 2.5rem;
    font-weight: 500;
}


/* Wedding Section Style... */

.wedding-heading {
    color: #0A0826;
    font-weight: 700;
}