@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600&display=swap');

:root {
    --bs-body-font-family: 'Poppins', sans-serif;
}

.hero-slider-title {
    font-size: 2.5rem;
    font-weight: 500;
}


/* Wedding Section Style... */

.wedding-heading {
    color: #0A0826;
    font-weight: 700;
}



/* Pricing Packages Section Style... */

.pricing-packages-heading {
    color: #0A0826;
    font-weight: 600;
}

.available-items-icon {
    height: 30px;
    width: 30px;
    padding-left: 5px;
    border-radius: 50%;
    background-color: rgba(82, 67, 194, 0.103693);
    color: #0A0826;
}

.package-active {
    padding: 60px 0 30px 0;
    border-radius: 20px;
    color: white;
    background-image: url("../images/icons/watermark.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
    box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
}

.package-active .available-items-icon {
    background-color: rgba(255, 255, 255, 0.1);
}

.package-active i {
    color: white;
}

.hot-badge {
    position: absolute;
    top: 0;
    right: 10%;
    margin-top: -10px
}

.choose-plan-btn  {
    background-color: rgba(244, 150, 209, 0.1);
}



/* Happy Clients Says Section Styles... */

.happy-clients-heading {
    color: #0A0826;
    font-weight: 600;
}

.clients-reviews {
    gap: 2rem
}



/* FAQ Section Styles... */

.faq-heading {
    color: #0A0826;
    font-weight: 600;
}